<div class="panel panel-default" ng-init = "init()" ng-if = "!isFinished">
  		<!-- Default panel contents -->
  		<div class="panel-heading">
  			<div class="row">
  			
  				<!-- Drop down Div -->		
                 <div class="col-xs-1 col-md-1">
                     <div class="left-section">
                     	<select ng-model= "questionId" style="width: 100px;">
                     		<option ng-repeat = "questionId in questions" value="{{questionId}}">
                     			{{$index + 1}}
                     		</option>
                     	</select>
                     </div>
	              </div>
	              <div class="col-xs-1 col-md-1 pull-left">
	                  <button type="button" ng-click = "searchQuestion(questionId)" class="btn btn-large btn-primary pull-right">Go</button>
	              </div>
	              <div class="col-xs-3 col-md-3	 pull-right">
	              	<p>
	              		<span style="font-weight: bold; font-size: large;">{{time.h}}</span> hours 
		              	<span style="font-weight: bold; font-size: large;">{{time.m}}</span> minute 
		              	<span style="font-weight: bold; font-size: large;">{{time.s}}</span> seconds
		            </p>
	              </div>
	         </div>
  		</div>
  		<div class="panel-body">
    		<p><b>Question {{currentQuestion}} :  </b> {{question.text}}</p>
    		<p ng-repeat = "option in question.options">
				<input type="radio" name="option" value ="{{option.id}}" ng-checked = "option.id == question.userAnswer.choiceId" ng-model="answer.option" />  
				{{option.text}}  
    		</p>
  		</div> 
  	    
  		<div class="login-footer">
			<div class="row">
                 <div class="col-xs-6 col-md-6">
                     <div class="left-section">
                     	<div class="alert alert-info msg" role="alert" ng-show = "lastQuestion">
							<span><strong>Heads up! </strong>You are at last question.</span> 
						</div>
                     </div>
	              </div>
	              
	              <div class="col-xs-6 col-md-6 text-right">
	                  <button type="button" ng-click = "submitAnswer(answer.option)" class="btn btn-large btn-primary .navbar-right">
	                  	{{ lastQuestion == false ? 'Next Question' : 'Submit Test'}}
	                  </button>
	                  <button type="button" ng-click = "endTest()" ng-hide = "lastQuestion" class="btn btn-large btn-primary .navbar-right">End Test</button>
	              </div>
	         </div>
		</div>
</div>
<div class="alert msg" ng-class="{'alert-danger':status.type=='error', 'alert-success':status.type=='success'}" ng-show="status.message">
	<span><strong>{{status.prefix}}</strong> {{status.message}}</span> 
</div>

<!--  Showing User question count that is not answered -->
<div class="panel panel-default" ng-if = "isFinished">

		<!-- Default panel contents -->
  		<div class="panel-heading">{{exam.title}}</div>
  		
  		<!-- <!-- Showing user unanswered questions count -->
  		<div class="panel-body" ng-if = "!showResult">
    		<p>You have left <b>({{notAnswered.length}})</b> questions without answer.<p>
  		</div> 
  		
  		
  		<div class="login-footer" ng-if = "!showResult">
			<div class="row">
                 <div class="col-xs-6 col-md-6">
                     <div class="left-section"></div>
	              </div>
	              <div class="col-xs-6 col-md-6 pull-right">
	                  <button type="button" ng-click = "confirmFinished();" class="btn btn-large btn-primary pull-right">Confirm Finish</button>
	              </div>
	         </div>
		</div>
</div>
