<div class="panel panel-default" ng-init = "init()">

  		<!-- Default panel contents -->
  		<div class="panel-heading">{{exam.title}}</div>
  		<div class="panel-body">
    		<p>{{exam.description}}</p>
    		<p><b>Status :  </b>  {{exam.active == 1 ? 'Active' : 'Inactive'}}</p>
    		<p><b>Duration :  </b>  {{exam.duration / 60}} Minute</p>
  		</div>
  		
  		<div class="login-footer">
			<div class="row">
                 <div class="col-xs-6 col-md-6">
                     <div class="left-section"></div>
	              </div>
	              <div class="col-xs-6 col-md-6 pull-right">
	                  <button type="button" ng-click = "startTest()" class="btn btn-large btn-primary pull-right">Start Test</button>
	              </div>
	         </div>
		</div>
</div>