<div class="container" class = "signin-page-body" novalidate>
	<div class="row">
		
		<form class="form-signin mg-btm" ng-submit = "signin()" name="loginForm">
	    	<h3 class="heading-desc">Sign In</h3>
 			{{hours}}
			<div class="alert msg" ng-class="{'alert-danger':status.type=='error', 'alert-success':status.type=='success'}" ng-show="status.message">
				<span><strong>{{status.prefix}}</strong> {{status.message}}</span> 
			</div>   
			 	
	    	<div class="main">	
				<input type="text" name = "email" ng-model = "user.email" class="form-control" placeholder="Email" autofocus>
		        <input type="password" name = "password" ng-model = "user.password" class="form-control" placeholder="Password">
				<span class="clearfix"></span>	
	        </div>
		<div class="login-footer">
			<div class="row">
                 <div class="col-xs-6 col-md-6">
                     <div class="left-section"></div>
	              </div>
	              <div class="col-xs-6 col-md-6 pull-right">
	                  <button type="submit" class="btn btn-large btn-primary pull-right">Sign In</button>
	              </div>
	         </div>
		</div>
		</form>
	</div>
</div>

	