<div class="panel panel-default" ng-init = "init();">

  		<!-- Showing User Result -->
  		<div class="panel-body">
    		<p>Your score <b>({{result.userScore}})</b> out of <b>({{result.totalScore}})</b></p>
    		<p></p>
    		<p></p>
    		<p>Percentage : 
    			<span ng-class = "{'percentage_green' : result.percentage >= 60, 'percentage_red' : result.percentage < 60}">
    				{{result.percentage}}%
    			</span> 
    		</p>
  		</div>
</div>