<div class="container">
	<div class="row">
		<form class="form-signin mg-btm" ng-submit = "signupForm.$valid && signup()" name = "signupForm" novalidate>
	    	<h3 class="heading-desc">Sign Up</h3>
	    	
        	<div class="alert msg" ng-class="{'alert-danger':status.type=='error', 'alert-success':status.type=='success'}" ng-show="status.message">
				<span><strong>{{status.prefix}}</strong> {{status.message}}</span> 
			</div> 
			
			<div class="main">	
				<input type="text" name = "firstName" ng-model = "user.firstName" class="form-control" placeholder="First Name" autofocus required>
				<div ng-messages="submitted && signupForm.firstName.$error" class="error-messages">
      				<div ng-message="required">You did not enter your first name</div>
    			</div>
				
				<input type="text" name = "lastName" ng-model = "user.lastName" class="form-control" placeholder="Last Name" required>
				<div ng-messages="submitted && signupForm.lastName.$error" class="error-messages">
      				<div ng-message="required">You did not enter your last name</div>
    			</div>
				
				<input type="email" name = "email" ng-model = "user.email" class="form-control" placeholder="Email" required>
				<div ng-messages="submitted && signupForm.email.$error" class="error-messages">
      				<div ng-message="required">You did not enter an email</div>
      				<div ng-message="email">You have entered an incorrect email</div>
    			</div>
    			
		        <input type="password" name = "password" ng-model = "user.password" class="form-control" placeholder="Password" required ng-minlength="6">
		       	<div ng-messages="submitted && signupForm.password.$error" class="error-messages">
      				<div ng-message="required">You did not enter password</div>	
      				<div ng-message="minlength">You did not enter minimum 6 characters</div>
    			</div>
				
				<span class="clearfix"></span>	
	        </div>
        
		<div class="login-footer">
			<div class="row">
                  <div class="col-xs-6 col-md-6">
                      <div class="left-section">
                      	<a href="#/signin	">Existing User? Sign In</a>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-6 pull-right">
                      <button type="submit" class="btn btn-large btn-danger pull-right" ng-click = "submitted = true">Sign Up</button>
                  </div>
             </div>
		</div>
		</form>
	</div>
</div>
	
